.row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.column{
    flex: 40%;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
}
img{
    width: 50%;
    height: auto;
    border-radius: 10px;
}
h2{
    margin-top: 15px;
    color: #4CAF50;
}
p{
    font-size: 16px;
    color: #555;
}
.number{
    width: 60px;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}   
.button{
    background-color: #4CAF50;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}
.button:hover{
    background-color: #45a049;
}